<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>{{translations.title}}</title>
</head>
<body>
  <h1>{{translations.heading}}</h1>
  <p>{{translations.greeting}}, {{username}}!</p>
  <p>{{translations.message}}</p>
  <p>
    <a href="{{resetLink}}">
      {{translations.linkText}}
    </a>
  </p>
  <p>{{translations.note}}</p>
  <p>{{translations.signature}}</p>
</body>
</html>
